#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                    &kp SQT     &kp COMMA &kp DOT   &kp P   &kp Y                                       &kp F &kp G &kp C &kp R &kp L
                    &kp A       &kp O     &kp E     &kp U   &kp I                                       &kp D &kp H &kp T &kp N &kp S
                    &kp SEMI    &kp Q     &kp J     &kp K   &kp X                                       &kp B &kp M &kp W &kp V &kp Z
                    &kp LBKT    &kp RBKT  &mt LSHFT ESC   &mt LCTRL BSPC              &mt RALT SPACE &mt RSHFT RET &kp MINUS &kp EQUAL
                                                        &kp N1 &kp TAB              &kp N3 &kp N2
                                                        &kp LGUI &kp TILDE         &kp BSLH &kp FSLH
            >;
        };
    };
 };
