if SHIELD_BARETYL_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "baretyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y


endif

if SHIELD_BARETYL_LEFT || SHIELD_BARETYL_RIGHT

config ZMK_SPLIT
    default y

endif
